# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# Database
cow_db/
*.sqlite3
*.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Node / Expo (for the mobile app folder if not nested properly)
node_modules/
.expo/
dist/
web-build/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
